.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFCFD;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  overflow: hidden;
  max-width: 1600px;
  width: 100%;
}

.main_body {
  width: 100%;
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_1 {
  width: 1024px;
  padding-bottom: 40px;
}

.section_heaading {
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 12px;
}

.hr1 {
  margin: 0;
  width: 100%;
  border: solid 1px #E1E4E6;
}

.heading_dtls {
  padding-top: 14px;
  padding-bottom: 10px;
  color: #626E79;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading_dtl_left {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.dtl_left_1,
.dtl_left_2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.dlts_icons {
  font-size: 20px;
}

.heading_dtl_right {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 16px;
}

.tag {
  padding: 8px 16px;
  border-radius: 12px;
  /* min-width: 106px; */
  background-color: #fff;
  color: #4B5665;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.arrow {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  line-height: 10px;
}

.navigations {
  font-size: 14px;
  line-height: 20px;
  color: #5C6874;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.navigation_txt {
  white-space: nowrap;
}

.section_2 {
  width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARD  */


.part2 {
  font-size: 16px;
  line-height: 24px;
  color: #4B5665;
  width: 530px;
  padding-left: 21px;
  padding-right: 22px;
  padding-bottom: 23px;
}

/* SECTION 3 */
.section_3 {
  padding-top: 80px;
  width: 1024px;
  display: flex;
  flex-direction: column;
}

.sec3_heading {
  padding-bottom: 35px;
  font-size: 32px;
  line-height: 44px;
}

.related_card_container {
  display: flex;
  float: right;
  gap: 22px;
  align-items: center;
  /* justify-content: center; */
  overflow-x: auto;
  margin-bottom: 72px;
}



.signup_wrp {
  width: 1024px;
  margin-left: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 43px;
}

.signup_txt {
  width: 400px;
  font-size: 32px;
  line-height: 44px;
  color: #5C6874;
}

.signup {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  height: 52px;
  width: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B88F4;
  cursor: pointer;
}




@media (max-width: 1200px) {

  .section_1,
  .section_2,
  .section_3,
  .signup_wrp {
    width: 90%;
  }

  .signup_wrp {
    margin-left: 0;
  }

}

@media (max-width: 850px) {

  .section_1,
  .section_2 {
    width: 90%;
  }


  .section_heaading {
    font-size: 5.6vw;
    line-height: 7vw;
  }

  .sec3_heading {
    font-size: 4vw;
    line-height: 5vw;
    padding-bottom: 4vw;
  }

  .heading_dtl_left {
    flex-direction: column;
  }

  .signup_txt {
    font-size: 4vw;
    line-height: 5vw;
  }



}

@media (max-width: 450px) {
  .search_bar input {
    min-width: 65%;
    width: 65%;
  }

  .heading_dtls {
    flex-direction: column;
    gap: 15px;
  }


  .signup_txt {
    font-size: 5vw;
    line-height: 6vw;
  }

  .signup {
    font-size: 2.8vw;
    line-height: 3vw;
  }
}